* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0400d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #0066ff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 900px;
}

.left {
    background-color: #0066ff;
    padding: 40px;
    width: 50%;
}

.left img{
    width: 100%;
}

.right {
    width: 50%;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #fff;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
}

.register-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #0056b3;
}

p {
    color: #fff;
}
a {
    color: #fff;
}
a:hover {
    color: #0056b3;
} 