* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0400d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #0066ff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 900px;
}

.login-left {
    background-color: #0066ff;
    padding: 40px;
    width: 50%;
}

.login-left img {
    max-width: 100%;
}

.login-right {
    width: 50%;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #000000;
}

.login-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-bottom: 20px;
}

.forgot-password a {
    color: #000000;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #000000;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.remember-me {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 8px;
}